.random-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.random-game__description {
    max-width: 380px;
}

.random-game__games {
    margin-right: auto;
}
