* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4E5166;
  color: #ffffff;
}


.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-direction: column;
}

.random__container {
  display: flex;
  align-items: center;
}

.random__description {
  max-width: 380px;
}

.games-container {
  max-height: 400px;
  overflow-y: auto;
}

